<!-- <%= link_to('New List', new_list_path, html_options = {draggable:"false"} )%> -->

<%= tag.div(id: :boards, data: { lists: @lists.as_json(include: :cards)})%>

<!-- <div id="main">
  <div class="drag">
    <h2>Draggab1le</h2>
    <draggable v-model:list="list" class="dragArea">
      <div v-for="element in list">{{element.name}}</div>
    </draggable>
  </div>

  <button @click="add">Add</button>
  <button @click="replace">Replace</button>
</div> -->
